* {
  box-sizing: border-box;
}

.gallery {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  width: 1440px;
  padding: 24px 0px 24px 156px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.gallery-item {
  flex-basis: calc((100% - 2 * 24) / 3);
}

a {
  position: relative;
  display: block;
  width: 360px;
  height: 200px;
  cursor: pointer;
}

a:hover > img {
  width: 376px;
  height: 208px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.basicLightbox {
  padding: 28px 164px;
}

.basicLightbox__placeholder {
  width: 100%;
  height: 100%;
}

.modal {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
